riscof_work/
sim/obj_dir/
venv/
sim/tmp.bin
sim/tmp_reversed.bin
sim/my.elf
**/__pycache__/
c_emulator/riscv_sim_RV64
sim/dut.disass
sim/test.hex
sim/coverage.dat
sim/DUT-Lucid64.signature
sim/log.txt
sim/output.vcd
formal/**/config/
